@model AppleUsed.Web.Models.ViewModels.HomeViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_SearchBarPartial")

@await Html.PartialAsync("_NavPartial")


<div class="ad-list col-lg-12">
    <hr />
    <blockquote style="border-left:5px solid #5cb85c">
        <strong> VIP объявления</strong>
    </blockquote>
    <hr />

    @if(Model.VipAds != null)
    {
        foreach (var item in Model.VipAds)
        {

            <ul>
                <li>
                    <div class="row">

                        <div class="col-lg-2 photo">

                            <a asp-controller="Ad" asp-action="AdDetails" asp-route-id="@item.AdId">
                                <img style='max-width:170px; max-height:130px;' src="@item.PhotosSmallSizeList.FirstOrDefault()" />
                            </a>

                        </div>

                        <div class="col-lg-8">

                            <p>
                                <a class="ad-title-text" asp-controller="Ad" asp-action="AdDetails" asp-route-id="@item.AdId">
                                    @item.Title
                                </a>
                            </p>

                            <div class="location">
                                <p>
                                    <span class="glyphicon glyphicon-map-marker"></span>г. @item.SelectedCity |
                                    <span class="glyphicon glyphicon-refresh"></span> @item.DateUpdated |
                                    <b>Просмотров : </b>@item.AdViews <span class="glyphicon glyphicon-eye-open"></span>
                                </p>
                            </div>

                            <div class="ad-description">
                                @if (item.Description.Length < 100)
                                {
                                    <span>@item.Description.Substring(0, item.Description.Length) ..</span>
                                }
                                else
                                {
                                    <span>@item.Description.Substring(0, 100) ..</span>
                                }
                            </div>


                        </div>
                        <div class="col-lg-2 ad-price-text">
                            <span>
                                <b>@item.Price  .грн</b>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
            <hr />

        }
    
        }
    <hr />
    <blockquote style="border-left:5px solid #5cb85c">
        <strong> Новые объявления</strong>
    </blockquote>
    <hr />

    <div class="row">
        @foreach (var ad in Model.LatestAds)
        {
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail text-center">
                    @if (ad.Title.Length > 20)
                    {
                        <p><b><a class="ad-title-text" style="font-size:14px" href="~/Ad/AdDetails/@ad.AdId">@ad.Title.Substring(0, 20)</a></b></p>
                    }
                    else
                    {
                        <p><b><a class="ad-title-text" style="font-size:14px" href="~/Ad/AdDetails/@ad.AdId">@ad.Title</a></b></p>
                    }
                    <a asp-controller="Ad" asp-action="AdDetails" asp-route-id="@ad.AdId">
                        <img src="@ad.PhotosSmallSizeList.FirstOrDefault()" />
                    </a>
                    <div class="caption">
                        <p>
                            <b>Цена : @ad.Price .грн</b>
                        </p>
                        <small><span class="glyphicon glyphicon-repeat"></span> @ad.DateUpdated</small> |
                        <small><span class="glyphicon glyphicon-eye-open"></span> @ad.AdViews.SumViews</small>
                        <br />
                        <small><span class="glyphicon glyphicon-map-marker"></span> @ad.City.Name , @ad.City.CityArea.Name область</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>