@model List<AppleUsed.BLL.DTO.AdDTO>
@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_SearchBarPartial")

<nav class="nav_menu">
    <ul>
        <li class="nav_menu_item iphone">
            <a href="~/Ad/Index/?titleFilter=iphone">
                <span class="inner_block">
                    <span>iPhone</span>
                </span>
            </a>
        </li>
        <li class="nav_menu_item ipad">
            <a href="~/Ad/Index/?titleFilter=ipad">
                <span class="inner_block">
                    <span>iPad</span>
                </span>
            </a>
        </li>
        <li class="nav_menu_item imac_macbook">
            <a href="~/Ad/Index/?titleFilter=mac">
                <span class="inner_block">
                    <span>Mac и Macbook</span>

                </span>
            </a>
        </li>
        <li class="nav_menu_item apple">
            <a href="~/Ad/Index">
                <span class="inner_block">
                    <span>Apple товары</span>

                </span>
            </a>
        </li>
    </ul>
</nav>


<div class="ad-list col-sm-12">
    <hr />
    <h3>Новые объявления</h3>
    <hr />


    @{ foreach (var item in Model)
        {

            string imgSrc = "";
            if (item.PhotosList.FirstOrDefault() != null)
            {
                var base64 = Convert.ToBase64String(item.PhotosList.FirstOrDefault().Photo);
                imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
            }
            <ul>
                <li>
                    <div class="ad-in">

                        <div class="ad-photo pull-left">
                            <a href="~/Ad/AdDetails/@item.AdId">
                                @if (!String.IsNullOrEmpty(imgSrc))
                                {
                                    <img style='width:170px; height:130px;' src="@imgSrc" />
                                }
                            </a>
                        </div>

                        <div class="ad-description">
                            <div class="location-and-last-modifaied">
                                <span>
                                    @Html.ActionLink(item.Title, "AdDetails", "Ad", new { id = @item.AdId }, new { @class = "ad-title-text" })
                                </span>
                                <span class="ad-price-text">
                                    <b>@item.Price  .грн</b>
                                </span>
                                <span class="location">г. Киев</span>
                                <span class="last-modifaed">@item.DateUpdated</span>
                            </div>

                            @if (item.Description.Length < 100)
                            {
                                <span class="ad-description">@item.Description.Substring(0, item.Description.Length) ..</span>
                            }
                            else
                            {
                                <span class="ad-description">@item.Description.Substring(0, 100) ..</span>
                            }

                        </div>
                    </div>
                </li>
            </ul>
            <hr />

        }

    }
</div>