@using System.Linq
@using Microsoft.AspNetCore.Identity
@using AppleUsed.DAL.Identity
@using AppleUsed.Web.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.ManageMyAdsNavClass(ViewContext)"><a asp-controller="ManageAd" asp-action="Index"> <span class="glyphicon glyphicon-list"></span> Мои объявления</a></li>
    <li class="@ManageNavPages.MessagesNavClass(ViewContext)"><a asp-controller="Manage" asp-action="GetAllMessages"><span class="glyphicon glyphicon-comment"></span> Мои Сообщения</a></li>
    <li class="@ManageNavPages.PurchasesNavClass(ViewContext)"><a asp-controller="ManagePurchases" asp-action="GetPurchasesByUser"><span class="glyphicon glyphicon-usd"></span> Платежи</a></li>
    @*<li class="@ManageNavPages.ServicesNavClass(ViewContext)"><a asp-controller="ManageServices" asp-action="Index">Услуги</a></li>*@
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-controller="Manage" asp-action="Index"><span class="glyphicon glyphicon-user"></span> Профиль</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-controller="Manage" asp-action="ChangePassword">*** Пароль</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-controller="Manage" asp-action="ExternalLogins">External logins</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-controller="Manage" asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>
</ul>
