@model AppleUsed.Web.Models.ViewModels.ConversationViewModels.ConversationIndexViewModel

@{

}

<br />

<div class="col-lg-12">


    <div class="row">

        <div class="col-sm-12">
            <b>
                <a class="ad-title-text" style="font-size:14px" href="~/Ad/AdDetails/@Model.Ad.AdId">@Model.Ad.Title</a>
            </b>
        </div>

        <div class="col-sm-2">
            <a asp-controller="Ad" asp-action="AdDetails" asp-route-id="@Model.Ad.AdId">
                <img style='max-width:170px; max-height:130px;' src="@Model.Ad.PhotosAvgSizeList.FirstOrDefault()" />
            </a>
        </div>

        <div class="col-sm-8">
            <p>@Model.Ad.Description</p>
            <p>г. @Model.Ad.SelectedCity</p>
            <p>добавлено : @Model.Ad.DateUpdated</p>
            <p>всего просммотров:@Model.Ad.AdViews </p>
        </div>


        <div class="col-sm-2">
            <b> Цена : @Model.Ad.Price .грн</b>
        </div>
    </div>

    <hr />


    <div class="row">
        <div class="col-sm-2 dot"></div>
        <div class="col-sm-10" id="Chat_With">
        </div>
    </div>

    <div class="col-lg-8 col-md-offset-2">

        <div class="chat__body">

            <div class="row">
                <div>
                    <ul class="list-group chat__main"></ul>
                </div>

                <div class="chat__typing">
                    <span id="typerDisplay"></span>
                </div>
            </div>


            <div class="down"></div>
        </div>

        <div class="chat__type__body">
            <div class="chat__type">
                <textarea id="message" placeholder="Type your message"></textarea>
                <button class="btn btn-success" id="sendBtn">Отправить</button>
            </div>
        </div>

    </div>


</div>


<script src="~/lib/signalr/signalr.min.js"></script>

<script type="text/javascript">

    var lastMsgId;

    var sellerId = '@Model.Conversation.SellerId';
    var buyerId = '@Model.Conversation.BuyerId';
    var sellerName = '@Model.Conversation.SellerName';
    var buyerName = '@Model.Conversation.BuyerName';

    $(document).ready(function ()
    {
        var senderId = '@ViewBag.SenderId';
        var recivedId = '@ViewBag.RecivedId';
        var adId = '@ViewBag.AdId';

        var url = "GetConversation";

        if (sellerId == senderId) {

            $('#Chat_With').append('<p><b>' + buyerName +'</b></p>');
        }
        else {

            $('#Chat_With').append('<p><b>' + sellerName + '</b></p>');
        }

        $.get(url, {
            adId: adId,
            contactId: recivedId,
        }).done(function (data) {
            let chat_data = data.data;
            loadChat(chat_data);
        });

    });


    function loadChat(chat_data) {
        chat_data.messages.forEach(function (data) {
            displayMessage(data);
        });

        $('.chat__body').show();
        $('.__no__chat__').hide();

        $('.chat__body').animate({
            scrollTop: $(".down").offset().top
        }, 1);
    }

    let newMessageTpl =
        `<div>
                <div id="msg-{{id}}" class="row __chat__par__">
                    <div class="__chat__">
                    <p>{{body}}</p>
                    <p class="delivery-status">Delivered</p>
                    </div>
                </div>
                </div>`;


    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    let userName = '@User.Identity.Name';

    // получение сообщения от сервера
    hubConnection.on('Send', function (message, senderId) {


        var currentUserId = '@ViewBag.SenderId';
        var contactId = '@ViewBag.RecivedId';

        lastMsgId = lastMsgId + 1;

        let template = $(newMessageTpl).html();
        template = template.replace("{{id}}", lastMsgId);
        template = template.replace("{{body}}", message);
        template = $(template);

        if (senderId == currentUserId) {
            template.find('.__chat__').addClass('receive__chat');
        }
        else {
            template.find('.__chat__').addClass('from__chat');
        }

        //if (message_obj.status == 1) {
        //    template.find('.delivery-status').show();
        //}

        $('.chat__main').append(template);

        $('.chat__body').animate({
            scrollTop: $(".down").offset().top
        }, 1);

    });

    function SendMessageToServer() {

        var conversationId = parseInt('@Model.Conversation.ConversationId');
        var senderId = '@ViewBag.SenderId';
        var recivedId = '@ViewBag.RecivedId';
        var adId = '@ViewBag.AdId';

        var url = "/Chat/SendMessage";
        $.post(url, {
            convsationId: conversationId,
            adId: adId,
            message: $('#message').val(),
            contactId: recivedId,
        }).done(function (data) {
            //displayMessage(data);
            $('#message').val('');
        });

    }

    function displayMessage(message_obj) {

        var currentUserId = '@ViewBag.SenderId';

        const msg_id = message_obj.conversationId;
        const msg_body = message_obj.message;

        let template = $(newMessageTpl).html();
        template = template.replace("{{id}}", msg_id);
        template = template.replace("{{body}}", msg_body);
        template = $(template);

        lastMsgId = msg_id;

        if (message_obj.senderId == currentUserId) {
            template.find('.__chat__').addClass('receive__chat');
        }
        else {
            template.find('.__chat__').addClass('from__chat');
        }

        if (message_obj.status == 1) {
            template.find('.delivery-status').show();
        }

        $('.chat__main').append(template);

    };

    // отправка сообщения на сервер
    document.getElementById("sendBtn").addEventListener("click", function (e) {
        let message = $("#message").val();
        var senderId = '@ViewBag.SenderId';

        hubConnection.invoke('Send', message, senderId);
        SendMessageToServer();

    });

    hubConnection.start();

</script>


@*<script type="text/javascript">
            //////////// Variable Instantiation
                $(document).ready(function () {

                    var recivedId = '@ViewBag.RecivedId';

                    $.ajax({
                        type: "GET",
                        url: "GetAllConversationWithContact?contact=" + recivedId,

                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    let chat_data = resp.data || [];
                    loadChat(chat_data);

                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
                });

            let currentContact = null; // Holds contact currently being chatted with
            let socketId = null;
            let currentconversationChannel = null;
            let conversationChannelName = null;
            let newMessageTpl =
            `<div>
                <div id="msg-{{id}}" class="row __chat__par__">
                    <div class="__chat__">
                    <p>{{body}}</p>
                    <p class="delivery-status">Delivered</p>
                    </div>
                </div>
                </div>`;
        /////////////////////////////////

            @*function displayMessage( message_obj ) {
                const msg_id = message_obj.id;
                const msg_body = message_obj.message;
                let template = $(newMessageTpl).html();
                template = template.replace("{{id}}", msg_id);
                template = template.replace("{{body}}", msg_body);
                template = $(template);
                if ( message_obj.sender_id == @ViewBag.СurrentUserId ) {
                    template.find('.__chat__').addClass('from__chat');
                } else {
                    template.find('.__chat__').addClass('receive__chat');
                }
                if ( message_obj.status == 1 ) {
                    template.find('.delivery-status').show();
                }
                $('.chat__main').append(template);
        }






            //load chat data into view
            function loadChat( chat_data ) {
                chat_data.forEach( function(data) {
                    displayMessage(data);
                });

                $('.chat__body').show();
                $('.__no__chat__').hide();
            }
            @*// select contact to chat with
            $('.user__item').click( function(e) {
                e.preventDefault();
                currentContact = {
                    id: $(this).data('contact-id'),
                    name: $(this).data('contact-name'),
                };
                if ( conversationChannelName ) {
                    pusher.unsubscribe( conversationChannelName );
                }
                conversationChannelName = getConvoChannel( (@ViewBag.СurrentUserId * 1) ,  (currentContact.id * 1) );
                currentconversationChannel = pusher.subscribe(conversationChannelName);
                bind_client_events();

                $('#contacts').find('li').removeClass('active');
                $('#contacts .contact-' + currentContact.id).find('li').addClass('active');
                getChat(currentContact.id);
                });

            function getConvoChannel(user_id, contact_id) {
                if ( user_id > contact_id ) {
                    return 'private-chat-' + contact_id + '-' + user_id;
                }
                return 'private-chat-' + user_id + '-' + contact_id;
            }
            //User is typing
            var isTypingCallback = throttle(function() {
                currentconversationChannel.trigger("client-is-typing", {
                    user_id: @ViewBag.СurrentUserId,
                    contact_id: currentContact.id,
                });
            }, 1000);
            $('#msg_box').on('keyup',isTypingCallback);
            ///////////////////Sending Messages/////////////////////
            $('#sendMessage').click( function() {
                $.post("/SendMessage", {
                    message: $('#msg_box').val(),
                    contact: currentContact.id,
                    socket_id: socketId,
                }).done( function (data) {
                    displayMessage(data);
                    $('#msg_box').val('');
                });
                });

            function bind_client_events(){
                currentconversationChannel.bind("client-is-typing", function(data) {
                    if ( data.user_id == currentContact.id && data.contact_id == @ViewBag.СurrentUserId ) {
                        $('#typerDisplay').text( currentContact.name + ' is typing...');

                        $('.chat__typing').fadeIn(100, function() {
                            $('.chat__type__body').addClass('typing_display__open');
                        }).delay(1000).fadeOut(300, function(){
                            $('.chat__type__body').removeClass('typing_display__open');
                        });
                    }
                });
                currentconversationChannel.bind("new_message", function(msg) {
                        if ( msg.receiver_id == @ViewBag.СurrentUserId ) {
                        displayMessage(msg);
                        }
                        $.post("/message_delivered/" + msg.id, {
                        socket_id: socketId,
                        });
                });
                currentconversationChannel.bind("message_delivered", function(msg) {
                    $('#msg-' + msg.id).find('.delivery-status').show();
                });
            }
    </script>*@