@using AppleUsed.Web.Views.Manage
@using AppleUsed.BLL.Enums
@model List<AppleUsed.BLL.DTO.AdDTO>
@{
    Layout = "/Views/Manage/_Layout.cshtml";
    ViewData["Title"] = "Мои объявления";
    ViewData.AddActivePage(ManageNavPages.MyAds);
}


<div class="ad-list col-lg-12">

    <h4>@ViewData["Title"]</h4>

    <div>
        <p>Здесь вы найдёте ваши активные и архивные объявления</p>
    </div>

    <hr />

    <div>
        <div class="btn-group" role="group">
            <a class="btn btn-default" asp-controller="ManageAd" asp-action="Index" asp-route-adStatusId="1" id="Active">Aктивные</a>
            <a class="btn btn-default" asp-controller="ManageAd" asp-action="Index" asp-route-adStatusId="2" id="InProgress">Ожидающие</a>
            <a class="btn btn-default" asp-controller="ManageAd" asp-action="Index" asp-route-adStatusId="3" id="Deactivated">Неактивные</a>
        </div>
    </div>

    <br />

    @{ foreach (var item in Model)
        {

            <ul>
                <li>
                    <div class="row">

                        <div class="col-lg-3 photo">
                            <a asp-controller="Ad" asp-action="AdDetails" asp-route-id="@item.AdId">
                                <img style='max-width:170px; max-height:130px;' src="@item.PhotosSmallSizeList.FirstOrDefault()" />
                            </a>
                        </div>

                        <div class="col-lg-9">

                            <div class="col-lg-8">

                                <div>
                                    <p>
                                        <a class="ad-title-text" asp-controller="Ad" asp-action="AdDetails" asp-route-id="@item.AdId">
                                            @item.Title
                                        </a>
                                    </p>
                                </div>

                                <div class="last-modifaed">
                                    <p>
                                        <span class="glyphicon glyphicon-refresh"></span><b>Обновлено : </b><span>@item.DateUpdated</span>
                                    </p>
                                </div>

                                <div class="ad-description">
                                    <p>
                                        <b>Описание : </b>
                                        @if (item.Description.Length < 100)
                                        {
                                            <span>@item.Description.Substring(0, item.Description.Length) ..</span>
                                        }
                                        else
                                        {
                                            <span>@item.Description.Substring(0, 100) .. </span>
                                        }
                                    </p>
                                </div>

                            </div>

                            <div class="ad-price-text">
                                <div>
                                    <p>
                                        <b>@item.Price  .грн</b>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <a class="btn btn-success btn-block" asp-controller="Manage" asp-action="GetAllConversationsByAdId" asp-route-id="@item.AdId">
                                            <span class="glyphicon glyphicon-envelope"></span> Сообщения <span class="badge">@item.NotDeliveredMessageCount</span>
                                        </a>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <a class="btn btn-warning btn-block" asp-controller="ManageServices" asp-action="Index" asp-route-id="@item.AdId">
                                            Рекламировать
                                            <span class="glyphicon glyphicon-usd"></span>
                                        </a>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <a class="btn btn-primary btn-block" asp-controller="ManageAd" asp-action="AdUpToList" asp-route-id="@item.AdId">
                                            Поднять
                                            <span class="glyphicon glyphicon-arrow-up"></span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="btn-block small_text">

                                <a class="text-primary" asp-controller="ManageAd" asp-action="EditAd" asp-route-id="@item.AdId">
                                    Редактировать
                                    <span class="glyphicon glyphicon-pencil"></span> |
                                </a>

                                @if (item.AdStatusId == (int)AdStatuses.Deactivated)
                                {

                                    <a class="text-success" asp-controller="ManageAd" asp-action="ActivationAd" asp-route-adId="@item.AdId">
                                        Активировать
                                        <span class="glyphicon glyphicon-arrow-up"></span> |
                                    </a>
                                }
                                else
                                {
                                    <a class="text-danger" asp-controller="ManageAd" asp-action="DeactivationAd" asp-route-adId="@item.AdId">
                                        Деактивировать
                                        <span class="glyphicon glyphicon-trash"></span> |
                                    </a>

                                }


                                <a class="text-warning" asp-controller="ManageAd" asp-action="ResetViews" asp-route-id="@item.AdId">
                                    Сбросить просмотры @item.AdViews
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <hr />

        }

    }

</div>
<script type="text/javascript">

    $(document).ready(function () {

            let selectedNavVal = @Model.Count == 0 ?? 1 : Model.FirstOrDefault().AdStatusId

            switch (selectedNavVal) {
                case 1:
                    $('#Active').addClass('active');
                    break;
                case 2:
                    $('#InProgress').addClass('active');
                    break;
                case 3:
                    $('#Deactivated').addClass('active');
                    break;
                default:
                    break;

            }
    });

</script>