@using AppleUsed.Web.Views
@model AppleUsed.Web.Models.ViewModels.ServicesViewModels.ServicesIndexViewModel
@{
    Layout = "/Views/AdministrationNav/_AdministrationLayout.cshtml";
    ViewData["Title"] = "Index";
    ViewData.AddActivePage(AdministrationNavPages.Services);
}

<div class="col-lg-12">

    <h2>Услуги по продвижению объявлений</h2>

    @await Html.PartialAsync("_StatusMessage", Model.StatusMessage)

    <hr />

    <a asp-controller="AdministrationServices" asp-action="CreateService" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить услугу </a>

    <br />
    <br />
    <div>

        @if (@Model.Services.Count() > 0)
        {
            @foreach (var item in Model.Services)
            {
        <div class="row">
            <div class="col-lg-4">
                <p><b>Название : </b>@item.Name</p>
            </div>
            <div class="col-lg-8">
                <p>
                    <b>Описание : </b>@item.Description
                </p>
                <p>
                    <b>Стоимость : </b> <span id="price">@item.Cost</span> <span class="glyphicon glyphicon-usd"></span>
                </p>
                <p id="activeDay">
                    <b>Срок действия : </b> @item.DaysOfActiveService дней. <span class="glyphicon glyphicon-calendar"></span>
                </p>

            </div>
            
            <div class="btn-group col-lg-offset-8 col-lg-4">
                <p>
                    <a asp-controller="AdministrationServices" asp-action="UpdateService" asp-route-id="@item.ServicesId" class="btn btn-warning">Редактировать <span class="glyphicon glyphicon-pencil"></span></a>
                    <a asp-controller="AdministrationServices" asp-action="DeleteService" asp-route-id="@item.ServicesId" class="btn btn-danger">Удалить <span class="glyphicon glyphicon-remove"></span></a>
                </p>
            </div>
        </div>

                <hr />
            }
        }
        else
        {
            <h4>Нет ни одной созданой услуги</h4>
        }

    </div>

</div>