@model AppleUsed.Web.Models.ViewModels.AdViewModels.AdIndexViewModel



<div class="ad-list col-lg-12">

        @{ foreach (var item in Model.AdList)
            {

                <ul>
                    <li>
                        <div class="row">

                            <div class="col-lg-3 photo">

                                <a asp-controller="Ad" asp-action="AdDetails" asp-route-id="@item.AdId">
                                    <img style='max-width:170px; max-height:130px;' src="@item.PhotosSmallSizeList.FirstOrDefault()" />
                                </a>

                            </div>

                            <div class="col-lg-9">

                                <div class="col-lg-8">
                                    <p>
                                        <a class="ad-title-text" asp-controller="Ad" asp-action="AdDetails" asp-route-id="@item.AdId">
                                            @item.Title
                                        </a>
                                    </p>

                                    <div class="location">
                                        <p>
                                            | <span class="glyphicon glyphicon-map-marker"></span>г. @item.SelectedCity |
                                            <span class="glyphicon glyphicon-refresh"></span> @item.DateUpdated |
                                            <b>Просмотров : </b>@item.AdViews <span class="glyphicon glyphicon-eye-open"></span> |
                                        </p>
                                    </div>

                                    <div class="ad-description">
                                        @if (item.Description.Length < 100)
                                        {
                                            <span>@item.Description.Substring(0, item.Description.Length) ..</span>
                                        }
                                        else
                                        {
                                            <span>@item.Description.Substring(0, 100) ..</span>
                                        }
                                    </div>
                                </div>

                                <div class="col-lg-4 ad-price-text">
                                    <span>
                                        <b>@item.Price  .грн</b>
                                    </span>
                                </div>


                            </div>
                        </div>
                    </li>
                </ul>
                <hr />

            }

        }

</div>

<div class="ad-list col-lg-12">
    <div class="row">

        @if (Model.PageViewModel != null && Model.PageViewModel.HasPreviousPage)
        {
            @using (Html.BeginForm("Index", "Ad", FormMethod.Get, new { @id = "BackPage" }))
            {
                <div class="col-sm-2">
                    <input type="hidden" name="page" id="page" value="@(Model.PageViewModel.PageNumber - 1)" />
                    <input type="hidden" name="titleFilter" value="@(Model.Filter.SelectedProductType)" />
                    <input type="submit" class="btn btn-default btn" value="< Назад" />
                </div>

            }
        }

        @if (Model.PageViewModel != null && Model.PageViewModel.HasNextPage)
        {

            @using (Html.BeginForm("Index", "Ad", FormMethod.Get, new { @id = "NextPage" }))
            {

                <div class="col-sm-2">
                    <input type="hidden" name="titleFilter" value="@(Model.Filter.SelectedProductType)" />
                    <input type="hidden" name="page" id="page" value="@(Model.PageViewModel.PageNumber + 1)" />
                    <input type="submit" class="btn btn-default btn" value="Вперед >" />
                </div>
            }
        }

    </div>
</div>
