

@model AppleUsed.Web.Models.ViewModels.AdViewModels.AdIndexViewModel
@{
    ViewData["Title"] = "View";
}


@await Html.PartialAsync("_SearchBarPartialSecond", Model)


<form asp-controller="Ad" asp-action="Index" method="get" id="Filtering">

    <div class="ad-filter-area col-lg-3">

        <div class="form-group-sm">

            <p class="form-label-body-text">
                Цена
            </p>

            <input type="hidden" asp-for="@Model.Filter.SelectedProductTypeId" />

            <div class="form-group-sm">
                <input type="text" placeholder="от" asp-for="Filter.PriceFilterFrom" class="form-control" />
                &nbsp;
                <input type="text" placeholder="до" asp-for="Filter.PriceFilterTo" class="form-control" />
            </div>

            <div class="form-label-body">
                <p class="form-label-body-text">
                    Модели
                </p>

                <div class="scrollbox-models">
                    <ul class="form-label-body-chekbox-list list-group-item">

                        @for (var i = 0; i < Model.Filter.ProductsModelFilters.Count(); i++)
                        {
                            <li style="display:inline-block;margin:1px; width:104px">
                                <input type="checkbox" asp-for="@Model.Filter.ProductsModelFilters[i].Selected" />
                                <label asp-for="@Model.Filter.ProductsModelFilters[i].Selected">@Model.Filter.ProductsModelFilters[i].Name</label>
                                <input type="hidden" asp-for="@Model.Filter.ProductsModelFilters[i].Id" />
                                <input type="hidden" asp-for="@Model.Filter.ProductsModelFilters[i].Name" />
                            </li>
                        }
                    </ul>
                </div>

                <p class="form-label-body-text">
                    Память
                </p>

                <div class="scrollbox-memmories">
                    <ul class="form-label-body-chekbox-list list-group-item">

                        @for (var i = 0; i < Model.Filter.ProductMemmories.Count(); i++)
                        {
                            <li style="display:inline-block;margin:1px; width:104px">
                                <input type="checkbox" asp-for="@Model.Filter.ProductMemmories[i].Selected" />
                                <label asp-for="@Model.Filter.ProductMemmories[i].Selected">@Model.Filter.ProductMemmories[i].Name</label>
                                <input type="hidden" asp-for="@Model.Filter.ProductMemmories[i].Id" />
                                <input type="hidden" asp-for="@Model.Filter.ProductMemmories[i].Name" />
                            </li>
                        }
                    </ul>
                </div>

                <p class="form-label-body-text">
                    Цвета
                </p>

                <div>
                    <ul class="form-label-body-chekbox-list list-group-item">

                        @for (var i = 0; i < Model.Filter.ProductsColors.Count(); i++)
                        {
                            <li style="display:inline-block;margin:1px; width:104px">
                                <input type="checkbox" asp-for="@Model.Filter.ProductsColors[i].Selected" />
                                <label asp-for="@Model.Filter.ProductsColors[i].Selected">@Model.Filter.ProductsColors[i].Name</label>
                                <input type="hidden" asp-for="@Model.Filter.ProductsColors[i].Id" />
                                <input type="hidden" asp-for="@Model.Filter.ProductsColors[i].Name" />
                            </li>
                        }
                    </ul>
                </div>


            </div>

            &nbsp;

            <input type="button" onclick="Filtering()" class="btn btn-success btn-main-search btn-block" value="Найти!" />

        </div>
    </div>


    <div class="col-lg-9">

        @await Html.PartialAsync("_AdTypeFilterPartial", Model)

        @await Html.PartialAsync("_AdListPartial", Model)

    </div>
</form>

<script type="text/javascript">



    function Filtering() {

        $('#page').val("");
        $('#Filtering').submit();

    }


</script>
