@using AppleUsed.Web.Views.Manage
@model AppleUsed.Web.Models.ViewModels.ServicesViewModels.ServicesIndexViewModel
@{
    Layout = "/Views/Manage/_Layout.cshtml";
    ViewData["Title"] = "Услуги по продвижению объявлений";
    ViewData.AddActivePage(ManageNavPages.Services);
}

<div class="col-lg-12">

    <h4>@ViewData["Title"] для выбранного объявления : <a class="bg-success">№ @Model.SelectedAdId</a></h4>
    <div>
        <p>Вам доступны такие услуги: Поднятие, Размещение в ТОП или VIP-объявление (размещение на главной странице)</p>
    </div>
    @await Html.PartialAsync("_StatusMessage", Model.StatusMessage)

    <hr />

    <div>
        <div class="row">

            <div class="col-lg-3 photo">
                <a asp-controller="Ad" asp-action="AdDetails" asp-route-id="@Model.Ad.AdId">
                    <img style='max-width:170px; max-height:130px;' src="@Model.Ad.PhotosSmallSizeList.FirstOrDefault()" />
                </a>
            </div>

            <div class="col-lg-9">

                <div class="col-lg-8">

                    <div>
                        <p>
                            <a class="ad-title-text" asp-controller="Ad" asp-action="AdDetails" asp-route-id="@Model.Ad.AdId">
                                @Model.Ad.Title
                            </a>
                        </p>
                    </div>

                    <div class="last-modifaed">
                        <p>
                            <span class="glyphicon glyphicon-refresh"></span><b>Обновлено : </b><span>@Model.Ad.DateUpdated</span> |
                            <b>Просмотров : </b>@Model.Ad.AdViews <span class="glyphicon glyphicon-eye-open"></span>
                        </p>
                    </div>

                    <div class="ad-description">
                        <p>
                            <b>Описание : </b>
                            @if (Model.Ad.Description.Length < 100)
                            {
                                <span>@Model.Ad.Description.Substring(0, Model.Ad.Description.Length) ..</span>
                            }
                            else
                            {
                                <span>@Model.Ad.Description.Substring(0, 100) .. </span>
                            }
                        </p>
                    </div>

                </div>

                <div class="ad-price-text">
                    <div>
                        <p>
                            <b>@Model.Ad.Price  .грн</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div>

        @if (@Model.Services.Count() > 0)
        {
            @foreach (var item in Model.Services)
            {
                <div class="row">

                    <div class="col-lg-6"><p><b>Описание : </b>@item.Description</p></div>

                    <div class="col-lg-6">
                        <div>
                            <p>
                                <b>Название : </b>@item.Name
                            </p>
                        </div>
                        <div>

                            @if (item.Name == "Поднять вверх списка" || item.Name == "Выделить объявление")
                            {
                                <p>
                                    <b>Стоимость : </b> @item.ServiceActiveTimes.Where(x => x.ServiceId == item.ServicesId).FirstOrDefault().Cost <span>.грн </span><span id="cost"></span> <span class="glyphicon glyphicon-usd"></span>
                                </p>
                            }
                            else
                            {
                                <p>
                                    <b>Стоимость : </b><span id="costId_@item.ServicesId"></span> <span class="glyphicon glyphicon-usd"></span>
                                </p>
                            }
                        </div>
                        <div>
                            <div class="row">

                                @if (item.Name == "Поднять вверх списка" || item.Name == "Выделить объявление")
                                {
                                    <div class="col-lg-12">
                                        <p>
                                            <b>Время действия : </b> <span>единоразовая услуга. </span><span class="glyphicon glyphicon-calendar"></span>
                                        </p>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-lg-6">
                                        <p>
                                            <b>Время действия дней : </b>
                                        </p>
                                    </div>


                                    <div class="col-lg-4">
                                        <p>

                                            <select asp-for="Services.Find(@item.ServicesId).SelectedServiceActiveDaysId" asp-items="item.SelectListServiceActiveDays" id="@item.ServicesId" onchange="SelectedDayChanged(@item.ServicesId)" class="form-control">
                                                <option selected="selected" disabled="disabled"> </option>
                                            </select>
                                        </p>

                                    </div>
                                    <span class="glyphicon glyphicon-calendar"></span>
                                }


                            </div>
                        </div>

                    </div>



                    @if (Model.SelectedAdId > 0)
                    {
                        <div class="btn-group col-lg-offset-10">
                            <p>
                                <a onclick="SelectedItemChanged(@Model.SelectedAdId, @item.ServicesId)"
                                   class="btn btn-warning">Выбрать</a>
                            </p>
                        </div>
                    }

                </div>

                <hr />
            }
        }
        else
        {
            <h4>Нет ни одной созданой услуги</h4>
        }

    </div>

</div>

<script type="text/javascript">

    function SelectedDayChanged(itemId) {

        var seletorId = "#" + itemId;
        let selectedActiveServiceDayValue = parseInt($(seletorId).val());

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetServicePriceById")",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: { selectedServiceActiveTimeId: selectedActiveServiceDayValue } ,
            success: function (data) {

                var costId = "#costId_" + itemId;
                $(costId).empty();
                $(costId).append('<span>' + data + ' .грн </span>');

            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });

    }

    function SelectedItemChanged(adId, serviceId) {

        var seletorId = "#" + serviceId;
        let selectedActiveServiceDayValue = parseInt($(seletorId).val());
        $(location).attr('href', "/ManagePurchases/CreatePurchase?adId=" + adId + "&serviceId=" + serviceId + "&serviceActiveId=" + selectedActiveServiceDayValue);
    }

</script>